<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="node_modules/vue/dist/vue.js"></script>
    
    <title>GE Digital Transformation Workshop</title>
    </head>
  <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">
       <img style="position: relative; top: -3px;" class="logo" src="assets/imgs/ge_monogram_primary_white_RGB.png">
        Digital Transformation Workshops</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Workshops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"  href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Learn More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Contact Us</a>
          </li>
        </ul>
       
      </div>
    </nav>

    <!--<div class="container">-->
      <div class="jumbotron hero_banner">

            <div class="row justify-content-center align-items-end">
                <div class="container">
                <div class="col-md-12">
                    <div class='searchbox_wrapper text-center'>
                        <br>
                        <h3 class="search_title">Find Something Interesting to Learn</h3>
                        <input class="search_text" type="text" placeholder="Search for something exciting"/>
                        <button class="btn search_button">Search</button>
                    </div>
                </div>
                </div>
            </div>
      </div>
    <!--</div>-->

    <div class="container" style="position: relative; top: 50px;">
        <div class='row'>
            <div class='col-md-12 text-center'>
                <h1>Workshops at The Banks</h1>
                <div v-bind:style="style" class="row" id="workshop_detail_inpage">
                    <div class="col-md-12">
                        <div class="workshop_details" style='position: relative; top: -300px'>
                            <div style="display: flex;">
                                <div style="width: 60%"><img src='assets/imgs/chatbot.png' width='100%'></div>
                                <div class='header_wrapper'>
                                    <h3>Oct 16th</h3>
                                    <h1>{{selectedItem.name}}</h1>
                                    <div style="display: flex; margin-bottom: 30px; margin-top: 30px;">
                                        <div>
                                            <img height='70' src='assets/imgs/max_randolph.png'>
                                        </div>
                                        <div style="margin-left: 10px;">
                                            <h4>{{selectedItem.host_name}}</h4>
                                            <div>{{selectedItem.host_title}}</div>
                                            <div>GE Digital - Innovation Studio</div>
                                        </div>
                                    </div>
                                    
                                    <button class="btn btn-success btn-block">Sign Up</button>
                                    <button class="btn btn-primary btn-block">Save To Calendar</button>
                                </div>
                            </div>
                            <div class='workshop_details_wrapper' style="display: flex">
                                    <div style="width: 60%; text-align: left">
                                        <h5>Description</h5>
                                        <p>
                                            {{selectedItem.description}}
                                        </p>
                                        
                                        <h5>Agenda</h5>
                                        <ul>
                                                <li class='section_text' v-for='item in selectedItem.agenda'>
                                                        {{item.title}}
                                                </li>
                                        </ul>

                                    </div> 
                                    <div style="width: 40%">
                                        <h5>Data and Time</h5>
                                        <p>{{selectedItem.when}}</p>
                                        
                                        <h5>Location</h5>
                                        <p>Cincinnati Banks<br>
                                        {{selectedItem.where}}</p>
                                        
                                        <h5>Requirements</h5>
                                        <p>
                                            <ul>
                                                <li class='section_text' v-for='item in selectedItem.prereqs'>
                                                        <a href=''>{{item.name}}</a>
                                                </li>
                                            </ul>
                                        </p>

                                        <h5>Useful Links</h5>
                                        <p>
                                            <ul>
                                                <li class='section_text' v-for='item in selectedItem.links'>
                                                            <a href=''>{{item.name}}</a>
                                                </li>
                                            </ul>
                                        </p>
                                        <hr>
                                        <div><button v-on:click='close()' class="btn btn-primary">Back</button></div>
                                    </div>       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="workshops">
                    <div style="margin-top: 20px;" class="col-md-4" v-for='item in items'>
                        <div class="workshop_summary_box" v-on:click="select(item)">
                            
                            <img width='100%' height='178' v-bind:src="item.image">
                            <div class="summary-text_wrapper">
                                <div class="summary-date">{{item.date}}</div>
                                <div class="summary-title">{{item.name}}</div>
                                <div class="summary-short-desc">{{item.short_description}}</div>
                            </div>
                            <div class="summary-host-wrapper">
                                    <img class='summary-host-image' v-bind:src="item.host_image"/>
                                    <div>
                                        <div class="host-name">{{item.host_name}}</div>
                                        <div class="host-title">{{item.host_title}}</div>
                                        <div class="host-title">{{item.host_team}}</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-4">
                        <div class="workshop_summary_box">
                            <br>
                            <br>
                            <a href="http://forms.ge.com/create/223033">
                                <img width='70%' src="assets/imgs/new_workshop.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!--<iframe style="height: 300px" src='https://webchat.botframework.com/embed/coretechbot2?s=HkQq8nnzydM.cwA.gEc.GWoPIgYq8bZQDvFUaWEXNZ9svdyHOeWf5LHzfDHKTQs'></iframe>-->

    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="workshop_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selectedItem.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            <img width="100%" v-bind:src="selectedItem.image">
        </div>
        <div class='section_header'>Description</div>
        <div class='section_text'>{{selectedItem.description}}</div>

        <div style="display: flex">
            <div style="width: 50%">
                <div class='section_header'>When</div>
                <div class='section_text'>{{selectedItem.when}}</div>

                 <div class='section_header'>Where</div>
                <div class='section_text'>{{selectedItem.where}}</div>
            </div>
            <div style="width: 50%">
                <div class='section_header'>Pre-Requirements</div>
                <ul>
                    <li class='section_text' v-for='item in selectedItem.prereqs'>
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
        
        

        <div class='section_header'>Agenda</div>
        <ul>
            <li class='section_text' v-for='item in selectedItem.agenda'>
                {{item.title}}<br>
                <span>{{item.description}}</span>
            </li>
        </ul>

        <div class='section_header'>Useful Links</div>
        <ul>
            <li class='section_text' v-for='item in selectedItem.links'>
                {{item.name}}<br>
                <span>{{item.url}}</span>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <script src="workshops.js"></script>
    <script src="index.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>